# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [7]:
import pandas as pd
import numpy as np

In [10]:
population = []

for i in range(5):
    population.append(np.random.randint(100, 999999))

data = {'國家': ['US', 'Swiss', 'China', 'France', 'German'] ,
        '人口': population}
df = pd.DataFrame(data)
df

       國家      人口
0      US  259389
1   Swiss  929863
2   China  652485
3  France  459952
4  German  621277

In [19]:
df['國家'][df['人口'].idxmax]

'Swiss'

In [22]:
df[df['人口'] == df['人口'].max()]['國家']

1    Swiss
Name: 國家, dtype: object

In [30]:
df['人口'].idxmax

<bound method Series.idxmax of 0    259389
1    929863
2    652485
3    459952
4    621277
Name: 人口, dtype: int64>

In [27]:
df.groupby('人口')['國家'].max()

人口
259389        US
459952    France
621277    German
652485     China
929863     Swiss
Name: 國家, dtype: object